*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.log-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9F1F7;
}
.log-main .form{
    width: 300px;
    height: auto;
    padding: 25px;
    background-color: #131B23;
    border-radius: 5px;
}
.log-main h1{
    font-weight: 500;
    color: white;
    margin-bottom: 55px;
    text-align: center;
}
.log-main input{
    border: none;
    border-bottom: 2px solid #697268;
    outline: none;
    background-color: #131B23;
    width: 100%;
    font-size: 15px;
    color: white;
    
}
.log-main .inputbox{
    position: relative;
    margin-bottom: 40px;
}
.log-main label{
    position: absolute;
    top: -5px;
    left: 0%;
    color: #697268;
    transition: 0.5s;
}
.log-main .action {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log-main .login{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #CBEF43;
    color: black;
    font-size: 15px;
    margin-bottom: 25px;
    cursor: pointer;
}
.log-main .switch{
    display: flex;
    flex-direction: row;
}
.log-main .switch p {
    color: #697268;
    font-size: 15px;
}
.log-main .register{
     background-color: #1B2028;
     border: none;
     color: #E9F1F7;
     font-size: 17px;
     text-decoration: underline;
     position: relative;
     top: -2px;
     cursor: pointer;
     margin-left: 2.5px;
    }
.log-main input:focus{
    border-bottom: 2px solid #2FD0CD;
}
.log-main input:valid ~ label,
.log-main input:focus ~ label{
    position: absolute;
    top: -15px;
    left: 0px;
    font-size: 12px;
    color: #2FD0CD;
}

.emailError {
    color: crimson;
    font-size: 12px;
    position: absolute;
    top: 37%;
    left: 40.5%;
}

.passwordError {
    color: crimson;
    font-size: 12px;
    position: absolute;
    top: 46%;
    left: 40.5%;
}